.operative-task {
  .scroll-content {
    background-color: #fff;
  }
  .error {
    background-color: #fff6a9;
    color: #d7926b;
    padding: 5px 0;
    p {
      ion-icon {
        position: relative;
        right: 0;
        top: 1px;
      }
      span {
        color: #2f82ce;
        font-weight: 600;
      }
      margin: 0 3px 0 10px;
    }
  }
  ion-card {
    .state {
      position: absolute;
      right: 33px;
      top: 13px;
      font-size: 14px;
      color: #8c8c8c;
    }
    .label {
      line-height: 40px;
      img {
        width: 40px;
        float: left;
      }
      .title {
        float: left;
        margin-left: 10px;
      }
    }
  }
}
