.common-date {
  .date-input {
    margin-top: 5%;
    .item {
      padding-right: 16px;
      .item-inner {
        border-bottom: 1px solid #c8c7cc;
        .input-wrapper {
          .label {
            font-weight: 600;
            color: #2f82ce;
          }
        }
      }
    }
  }
  .btn {
    padding: 2rem 3rem !important;
    .button-inner {
      padding-left: 0.5rem;
      letter-spacing: 0.5rem;
    }
  }
}
