.operative-task-repair {
  background-color: #f6f6f6;
  ion-refresher {
    top: 105px !important;
  }
  .scroll-content {
    margin-top: 100px !important;
    padding-top: 20px;
    background-color: #f6f6f6;
  }
  .wrapper {
    margin-bottom: 0;
    .point {
      position: absolute;
      top: -6px;
      left: 12px;
      font-size: 13px;
      span {
        color: #4e8ef7;
      }
    }
    ion-card {
      .state {
        position: absolute;
        right: 40px;
        top: 20px;
        font-size: 16px;
      }
      .state0 {
        color: #2f82ce;
      }
      .state1 {
        color: #f7ba2a;
      }
      .state2 {
        color: #13ce66;
      }
      .state3 {
        color: #8391a5;
      }
    }
  }
  .no-data {
    margin-top: 0;
    text-align: center;
  }
}
