@import "mobile-reset";
@import "swiper";
@import "nav";
body{
    background-color: #f0eeec;
}
header{
    box-shadow: 0 0.03rem 0.1rem #696969;
    position:fixed;
    z-index:20;
    width:100%;
    max-width: 750px;
    .nav-box{
        color:#3f3f3f;
        background-color: #efeeec;
        div:nth-last-child(even){
            float:left;
            width:50%;
        }
        div:nth-last-child(odd){
            float:right;
            width:50%;
        }
        div{
            -webkit-tap-highlight-color: rgba(0,0,0,0);
            cursor: pointer;
            height: 0.80rem;
            p{
                margin-top: 0.1rem;
                font-size: 0.3rem;
                text-align: center;
                line-height: 0.65rem;
            }
        }
        .cur{
            box-shadow: 0.01rem 0.01rem 0.4rem #bcbcbc inset;
            animation:flipInY 0.6s;
        }
    }
}
.content-slide{
    padding-bottom: 0.56rem;
    >div:first-of-type{
        margin-top:0;
    }
    >div:first-of-type{
        margin-top:0.8rem;
    }
    .product-container{
        box-shadow: 0 0.01rem 0.2rem 0rem #b5b5b5;
        margin-top: 0.13rem;
        background-color:#fff;
        .img-container{
            display: block;
            position:relative;
            width:100%;
            height:2.8rem;
            img{
                position:absolute;
                width:100%;
                height:100%;
            }
            span{
                color:#fff;
                padding:0.05rem;
                padding-left: 0.1rem;
                font-size:0.18rem;
                position:absolute;
                right:0.33rem;
                bottom:0.15rem;
                background-color: rgba(0,0,0,0.3);
                letter-spacing: 0.05rem;
            }
        }
        .product-content{
            height:0.9rem;
            line-height: 0.9rem;
            font-size: 0.3rem;
            .name{
                margin-left:0.44rem;
                color:#3f3f3f;
                float:left;
                font-weight: bold;
            }
            .ename{
                float:left;
                margin-left: 2%;
            }
            .no-price{
                margin-right: 0.4rem;
                padding:0 0.2rem;
                color:#bcbcbc;
                float:right;
                position:relative;
                span{
                    width:100%;
                    border-top: 1px solid #bcbcbc;
                    position:absolute;
                    top:45%;
                    margin-left: -1.15rem;
                }
            }
            .price{
                margin-right: 0.3rem;
                color:#09bb07;
                float:right;
            }
        }
    }
}
@keyframes flipInY {
    0% {
        -webkit-transform: perspective(400px) rotate3d(0,1,0,90deg);
        transform: perspective(400px) rotate3d(0,1,0,90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0
    }

    40% {
        -webkit-transform: perspective(400px) rotate3d(0,1,0,-20deg);
        transform: perspective(400px) rotate3d(0,1,0,-20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    60% {
        -webkit-transform: perspective(400px) rotate3d(0,1,0,10deg);
        transform: perspective(400px) rotate3d(0,1,0,10deg);
        opacity: 1
    }

    80% {
        -webkit-transform: perspective(400px) rotate3d(0,1,0,-5deg);
        transform: perspective(400px) rotate3d(0,1,0,-5deg)
    }

    100% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px)
    }
}