@import "mobile-reset";
@import "swiper";
.loading{
    z-index: 10;
    position: fixed;
    width:100%;
    height: 100%;
    background-color: #1A54A4;
    .smoke{
        position:absolute;
        width:0.99rem;
        height:1.5rem;
        top: 20%;
        left: 50%;
        margin-left:-0.5rem;
        animation: smoke 1s infinite;
    }
    @keyframes smoke{
        0%{opacity:1;}
        50%{opacity:0;}
        100%{opacity:1;}
    }
    .glass{
        position:absolute;
        width:2rem;
        height:2rem;
        top: 32%;
        left: 50%;
        margin-left:-1rem;
    }
    .brand{
        position:absolute;
        width:80%;
        height:1rem;
        bottom: 25%;
        left: 50%;
        margin-left:-40%;
    }
}
html{
    max-width: 750px;
    margin:0 auto;
    width:100%;
    height:100%;
    body{
        width:100%;
        height:100%;
        .swiper-container{
            height:100%;
            width:100%;
            .swiper-slide{
                position:relative;
                height:100%;
                width:100%;
                i{
                    background:url(../start-img/icon.png) center no-repeat;
                    background-size:100%;
                    position:absolute;
                    width:22%;
                    height:26%;
                }
                img{
                    position:absolute;
                }
                p{
                    background:url(../start-img/down.png) center no-repeat;
                    position:absolute;
                    width:13%;
                    height:15%;
                    left:50%;
                    margin-left: -6.5%;
                    animation: icon 2s infinite;

                }
                @keyframes icon{
                    0%{bottom:3%;opacity:1;}
                    80%{bottom:1%;opacity:0;}
                    100%{bottom:3%;opacity:0;}
                }
            }
            .swiper-slide:nth-child(1){
                z-index: 1;
                background:url(../start-img/background1.jpg) center no-repeat;
                background-size:100%;
                i{
                    transform: rotate(254deg);
                    bottom:20%;
                    left:39%;
                    opacity:0;
                }
                img{
                    bottom:-10%;
                    width:60%;
                    right: 0%;
                    bottom:23%;
                    transform:scale3d(0,1,1);
                }

            }
            .back0{
                i{
                    transition:all 0.4s;
                    opacity:1 !important;
                }
                img{
                    transition:all 0.6s;
                    transition-delay: 0.4s;
                    transform:scale3d(1,1,1)!important;
                }
            }
            .swiper-slide:nth-child(2){
                z-index: 7;
                background:url(../start-img/background2.jpg) center no-repeat;
                background-size:100%;
                i{
                    transform: rotate(85deg);
                    bottom:33%;
                    left:33%;
                    opacity:0;
                }
                img{
                    top:40%;
                    width:80%;
                    left:10%;
                    transform:scale3d(0,1,1);
                }
            }
            .back1{
                i{
                    transition:all 0.4s;
                    opacity:1 !important;
                }
                img{
                    transition:all 0.7s;
                    transition-delay: 0.4s;
                    transform:scale3d(1,1,1)!important;
                }
            }
            .swiper-slide:nth-child(3){
                z-index: 3;
                background:url(../start-img/background3.jpg) center no-repeat;
                background-size:100%;
                .icon1{
                    transform: rotate(130deg);
                    bottom:52%;
                    left:23%;
                    opacity:0;
                }
                .img1{
                    top:21%;
                    width:80%;
                    left: 7%;
                    transform:scale3d(0,1,1);
                }
                .icon2{
                    transform: rotate(88deg);
                    bottom:29%;
                    left:37%;
                    opacity:0;
                }
                .img2{
                    top:44%;
                    width:66%;
                    left: 14%;
                    transform:scale3d(0,1,1);
                }
                .icon3{
                    transform: rotate(77deg);
                    bottom:1%;
                    right:26%;
                    opacity:0;
                }
                .img3{
                    width:72%;
                    bottom:23%;
                    left: 15%;
                    transform:scale3d(0,1,1);
                }

            }
            .back2{
                .icon1{
                    transition:all 0.4s;
                    opacity:1 !important;
                }
                .img1{
                    transition:all 0.6s;
                    transition-delay: 0.3s;
                    transform:scale3d(1,1,1) !important;
                }
                .icon2{
                    transition:all 0.8s;
                    opacity:1 !important;
                    transition-delay: 0.8s;
                }
                .img2{
                    transition:all 0.6s;
                    transition-delay: 1.2s;
                    transform:scale3d(1,1,1) !important;
                }
                .icon3{
                    transition:all 0.8s;
                    opacity:1 !important;
                    transition-delay: 1.8s;
                }
                .img3{
                    transition:all 0.6s;
                    transition-delay: 2s;
                    transform:scale3d(1,1,1)!important;
                }
            }
            .swiper-slide:nth-child(4){
                z-index: 4;
                background:url(../start-img/background4.jpg) center no-repeat;
                background-size:100%;
                .icon{
                    transform: rotate(-62deg);
                    top:8%;
                    left:26%;
                    opacity:0;
                }
                .img{
                    top:30%;
                    width:50%;
                    left: 20%;
                    transform:scale3d(0,1,1);
                }
            }
            .back3{
                i{
                    transition:all 0.4s;
                    opacity:1 !important;
                }
                img{
                    transition:all 0.6s;
                    transition-delay: 0.2s;
                    transform:scale3d(1,1,1)!important;
                }
            }
            .swiper-slide:nth-child(5){
                z-index: 5;
                background:url(../start-img/background5.jpg) center no-repeat;
                background-size:100%;
                .icon1{
                    transform: rotate(-250deg);
                    top:38%;
                    left:39%;
                    opacity:0;
                }
                .icon2{
                    transform: rotate(-257deg);
                    bottom:6%;
                    right:20%;
                    opacity:0;
                }
                .img1{
                    top:37%;
                    width:60%;
                    left: 20%;
                    transform:scale3d(0,1,1);
                }
                .img2{
                    bottom:28%;
                    width:60%;
                    left: 28%;
                    transform:scale3d(0,1,1);
                }
            }
            .back4{
                .icon1{
                    transition:all 0.4s;
                    opacity:1 !important;
                }
                .icon2{
                    transition:all 0.8s;
                    opacity:1 !important;
                    transition-delay: 0.5s;
                }
                .img1{
                    transition:all 0.8s;
                    transform:scale3d(1,1,1)!important;
                    transition-delay: 0.2s;
                }
                .img2{
                    transition:all 0.8s;
                    transition-delay: 1s;
                    transform:scale3d(1,1,1)!important;
                }
            }
            .swiper-slide:nth-child(6){
                background:url(../start-img/background6.jpg) center no-repeat;
                background-size:100%;
                a{
                    background:url(../start-img/back6-icon.png) center no-repeat;
                    background-size:100%;
                    width:2rem;
                    height:2rem;
                    position:absolute;
                    left:50%;
                    margin-left:-1rem;
                    top:10%;
                    z-index: 99;
                }
                img{
                    width:1rem;
                    top:22%;
                    left:52%;
                    margin-left: -0.5rem;
                    animation: click 1s infinite;
                }
                @keyframes click{
                    0%{top:22%;opacity:1;}
                    70%{top:16%;opacity:0;}
                    100%{top:22%;opacity:0;}
                }
            }
        }
    }
}