.login {
  color: #bfbfbf;
  background-color: #f5f5f5;
  padding-top: 20%;
  .logo {
    margin-bottom: 17%;
    width: 30%;
    margin-left: 35%;
  }
  .login-title {
    font-weight: 900;
    color: $color;
    text-align: center;
    font-size: 19px;
    margin-bottom: 4%;
  }
  .input-box {
    width: 75%;
    margin-left: 12.5%;
    margin-bottom: 0;
    .item-stacked-label {
      padding-right: 5%;
    }
    input {
      border: solid 1px #bfbfbf;
      padding-left: 2%;
      border-radius: 4px;
    }
    input:focus {
      border: none;
      box-shadow: 0px 0px 6px 1px $color;
    }
  }
  .button-box {
    margin-left: 65%;
    margin-top: 2%;
    button {
      background-color: $color;
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 5% 11% 5% 14%;
      letter-spacing: 3px;
    }
  }
  .bottom {
    margin-top: 51%;
    width: 80%;
    margin-left: 10%;
  }
}
