.report-details {
  padding-top: 5%;
  .list {
    .item {
      border: none;
      p {
        float: left;
      }
      p:nth-child(1) {
        margin-right: 3%;
        margin-left: 10%;
        font-weight: 600;
      }
      p:nth-child(1):after {
        content: "：";
      }
      p:nth-child(2) {
      }
    }
  }
}
