.report-order-details {
  .wrapper {
    .info {
      padding: 15px;
      display: flex;
      font-size: 16px;
      justify-content: space-between;
      border-bottom: 1px solid #cdcdcd;
      .text {
        color: #6d6b6b;
      }
    }
  }
}
