<ion-header>
  <ion-navbar>
    <ion-title>
      订单异常处理
    </ion-title>
  </ion-navbar>
  <div class="nav_pet_header">
    <ion-segment [(ngModel)]="pet">
      <ion-segment-button value="no" (click)="changeType(1)">
        未解决
        <span></span>
      </ion-segment-button>
      <ion-segment-button value="ok" (click)="changeType(2)">
        已解决
        <span></span>
      </ion-segment-button>
    </ion-segment>
  </div>
</ion-header>

<div [@showAlertWrapper]="promptFlag" class="operative-task-order_prompt"
     ontouchmove="event.preventDefault();event.stopPropagation();">
  <div class="wrapper" (click)="promptFlag='back'"></div>
  <ion-list [@showAlert]="promptFlag" class="content">
    <ion-item class="_item">
      <ion-label>解决方式</ion-label>
      <ion-select interface="popover" [(ngModel)]="data.type">
        <ion-option *ngFor="let item of data.dict" value="{{item.code}}">{{item.description}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item class="_item">
      <ion-textarea [(ngModel)]="data.desc" maxlength="50" placeholder="解决说明"></ion-textarea>
    </ion-item>
    <div class="btn">
      <button (click)="promptSubmit(2)" ion-button clear>否</button>
      <button (click)="promptSubmit(1)" ion-button clear>是</button>
    </div>
  </ion-list>
</div>

<ion-content class="operative-task-order" [ngSwitch]="pet">
  <ion-refresher
    (ionRefresh)="doRefresh($event)" pullMax="100">
    <ion-refresher-content refreshingText='刷新中...'>
    </ion-refresher-content>
  </ion-refresher>
  <ion-list *ngSwitchCase="'no'" class="wrapper">
    <p class="point">总计<span>{{total}}</span>条</p>
    <ion-card *ngFor="let order of list; let i = index">
      <div class="info btn">
        <button ion-item (click)="showPrompt(order,i)">
          <span>订单号</span>
          <span class="text">{{order.orderNo}}</span>
        </button>
      </div>
      <div class="info">
        <span>创建时间</span>
        <span class="text">{{order.createTime}}</span>
      </div>
      <div class="info" *ngIf="order.updateTime">
        <span>修改时间</span>
        <span class="text">{{order.updateTime}}</span>
      </div>
      <div class="info" *ngIf="order.productName">
        <span>商品</span>
        <span class="text">{{order.productName}}</span>
      </div>
      <div class="info" *ngIf="order.type">
        <span>异常描述</span>
        <span class="text">{{order.type}}</span>
      </div>
      <div class="info" *ngIf="order.unusualDesc">
        <span>未处理原因</span>
        <span class="text">{{order.unusualDesc}}</span>
      </div>
      <div class="info" *ngIf="order.userMobile">
        <span>联系电话</span>
        <CommonPhone [phone]="order.userMobile"></CommonPhone>
      </div>
    </ion-card>
  </ion-list>
  <ion-list *ngSwitchCase="'ok'" class="wrapper">
    <p class="point">总计<span>{{total}}</span>条</p>
    <ion-card *ngFor="let order of list">
      <div class="info">
        <span>订单号</span>
        <span class="text">{{order.orderNo}}</span>
      </div>
      <div class="info">
        <span>创建时间</span>
        <span class="text">{{order.createTime}}</span>
      </div>
      <div class="info" *ngIf="order.updateTime">
        <span>修改时间</span>
        <span class="text">{{order.updateTime}}</span>
      </div>
      <div class="info" *ngIf="order.productName">
        <span>商品</span>
        <span class="text">{{order.productName}}</span>
      </div>
      <div class="info" *ngIf="order.type">
        <span>异常描述</span>
        <span class="text">{{order.type}}</span>
      </div>
      <div class="info" *ngIf="order.dealType">
        <span>处理方式</span>
        <span class="text">{{order.dealType}}</span>
      </div>
      <div class="info" *ngIf="order.unusualDesc">
        <span>解决说明</span>
        <span class="text">{{order.unusualDesc}}</span>
      </div>
      <div class="info" *ngIf="order.userMobile">
        <span>联系电话</span>
        <CommonPhone [phone]="order.userMobile"></CommonPhone>
      </div>
    </ion-card>
  </ion-list>
  <ion-infinite-scroll *ngIf="list.length !== total"
                       (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingText="努力加载中...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <p class="no-data" *ngIf="list.length === total">
    {{list.length === 0 ? '没有相关订单~' : '没有更多订单了~'}}</p>
</ion-content>

