.operative-task-task1 {
  ion-card {
    .label {
      line-height: 40px;
      img {
        width: 40px;
        float: left;
      }
      .title {
        float: left;
        margin-left: 10px;
      }
    }
  }
  .submit {
    margin: 0 12px;
    margin-top: 30px;
  }
}
