<ion-view hide-tabs="true">
  <ion-header-bar align-title="center">
    <a ng-click="$ionicGoBack()" class="button icon-left ion-chevron-left button-clear button-dark"></a>
    <h1 class="title">机器销售统计</h1>
  </ion-header-bar>
  <ion-content class="count-machine" ng-class="{true:'show'}[cm.options.initClass]">
    <div class="time clearfix">
      <span>{{inputStart | subDate}} ～ {{inputEnd | subDate}}</span>
      <p ng-click="cm.showConfirm();" class="cx">点击选择时间</p>
    </div>
    <ul class="clearfix row">
      <li class="col col-33">
        <p>销售金额</p>
        <p>{{cm.options.payList.totalsales}}元</p>
      </li>
      <li class="col col-33">
        <p>销售总数</p>
        <p>{{cm.options.payList.totalcount}}杯</p>
      </li>
      <li class="col col-33">
        <p>优惠金额</p>
        <p>{{cm.options.payList.totalcoupon}}元</p>
      </li>
    </ul>
    <table>
      <tr>
        <td>商品名称</td>
        <td>实付数量</td>
        <td>销售总数</td>
        <td>销售金额</td>
      </tr>
    </table>
    <ion-scroll direction="y">
      <li class="clearfix item" ng-repeat="e in cm.options.machineList"
          ng-click="cm.showLineChart({{e.machineid}});modal.show();">
        <p>{{e.machinename}}</p>
        <p>{{e.paycount}}</p>
        <p>{{e.count}}</p>
        <p>{{e.totalsales}}</p>
      </li>
      <i class="loadmore ion-arrow-down-a" ng-click="cm.getCountList()">点击查看更多</i>
    </ion-scroll>
  </ion-content>
</ion-view>
