<ion-header-bar>
  <img src="img/logo.png"/>
</ion-header-bar>
<ion-view view-title="operative">
  <ion-content class="tab-index">
    <div class="row">
      <div class="col col-33">
        <img src="img/operative-img1.png"/>
        <span class="h6">故障</span>
      </div>
      <div class="col col-33">
        <img src="img/operative-img2.png"/>
        <span class="h6">补料</span>
      </div>
      <div class="col col-33">
        <img src="img/operative-img3.png"/>
        <span class="h6">补券</span>
      </div>
    </div>
  </ion-content>
</ion-view>
