<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <title>我的订单</title>
    <link rel="stylesheet" href="/coffeealipay/webapps/css/order.css">
    <script src="/coffeealipay/webapps/build/rem.js"></script>
</head>
<body>
<header>
    <div class="clearfix nav-box">
        <div class="cur">
            <p>待付款</p>
        </div>
        <div>
            <p>未冲泡</p>
        </div>
        <div>
            <p>已冲泡</p>
        </div>
    </div>
</header>
<div class="swiper1">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="swiper2">
                <div class="swiper-wrapper2 content-slide" id="wait">
                </div>
                <div class="swiper-scrollbar"></div>
          </div>
        </div>
        <div class="swiper-slide">
            <div class="swiper2">
                <div class="swiper-wrapper2 content-slide" id="brew">
                </div>
                <div class="swiper-scrollbar"></div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="swiper2">
                <div class="swiper-wrapper2 content-slide" id="alreadyBrew">
                </div>
                <div class="swiper-scrollbar"></div>
            </div>
        </div>
      </div>
</div>
<!-- <footer>
    <a href="/coffeealipay/webapps/webview.html">
        <img src="http://org.oa.mattburg.cn/jeewxmb/webpage/extend/nav-img/img1.png"/>
    </a>
    <a href="http://org.oa.mattburg.cn/jeewxmb/webpage/extend/productList.html">
        <img src="http://org.oa.mattburg.cn/jeewxmb/webpage/extend/nav-img/img2.png"/>
    </a>
    <a href="http://org.oa.mattburg.cn/jeewxmb/productController.do?scanQRCode">
        <img src="http://org.oa.mattburg.cn/jeewxmb/webpage/extend/nav-img/img3.png"/>
    </a>
    <a href="http://org.oa.mattburg.cn/jeewxmb/productController.do?toOrder">
        <img src="http://org.oa.mattburg.cn/jeewxmb/webpage/extend/nav-img/img5-cur.png"/>
    </a>
    <a href="http://org.oa.mattburg.cn/jeewxmb/productController.do?toCoupon">
        <img src="http://org.oa.mattburg.cn/jeewxmb/webpage/extend/nav-img/img4.png"/>
    </a>
</footer> -->
<script src="/coffeealipay/webapps/build/zepto.min.js"></script>
<script src="/coffeealipay/webapps/build/swiper.min.js"></script>
<script src="/coffeealipay/webapps/build/touch.min.js"></script>
<script src="/coffeealipay/webapps/build/order.js"></script>
<script>
 order(${orderlist});
</script>
</body>
</html>