<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <title>客服中心</title>
    <link rel="stylesheet" href="css/server.css">
    <script src="build/rem.js"></script>
</head>
<body class="ani">
<img src="server-img/logo.png"/>
<img src="server-img/kefu.png"/>
<p>10:00——20:00(每天)</p>
<img src="server-img/img.jpg"/>
<span class="clearfix">
    <p>长</p>
    <p>按</p>
    <p>图</p>
    <p>片</p>
    <p>→</p>
    <p>识</p>
    <p>别</p>
    <p>图</p>
    <p>片</p>
    <p>中</p>
    <p>二</p>
    <p>维</p>
    <p>码</p>
    <p>&nbsp;即</p>
    <p>可</p>
    <p>快</p>
    <p>速</p>
    <p>添</p>
    <p>加</p>
    <p>哦</p>
</span>
</body>
</html>