<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <title>辛蒂现磨咖啡</title>
    <link rel="stylesheet" href="css/start.css">
    <script src="http://zjc.mattburg.cn/jeewxmb/webpage/extend/build/rem.js"></script>
</head>
<body>
<div class="loading" id="load">
    <img class="smoke" src="start-img/smoke.png"/>
    <img class="glass" src="start-img/glass.png"/>
    <img class="brand" src="start-img/brand.png"/>
</div>
<div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
            <p></p>
            <i></i>
            <img src="start-img/back1-text.png"/>
        </div>
        <div class="swiper-slide">
            <p></p>
            <i></i>
            <img src="start-img/back2-text.png"/>
        </div>
        <div class="swiper-slide">
            <p></p>
            <i class="icon1"></i>
            <i class="icon2"></i>
            <i class="icon3"></i>
            <img class="img1" src="start-img/back3-text1.png"/>
            <img class="img2" src="start-img/back3-text2.png"/>
            <img class="img3" src="start-img/back3-text3.png"/>
        </div>
        <div class="swiper-slide">
            <p></p>
            <i class="icon"></i>
            <img class="img" src="start-img/back4-text.png"/>
        </div>
        <div class="swiper-slide">
            <p></p>
            <i class="icon1"></i>
            <i class="icon2"></i>
            <img class="img1" src="start-img/back5-text1.png"/>
            <img class="img2" src="start-img/back5-text2.png"/>
        </div>
        <div class="swiper-slide">
            <a href="http://zjc.mattburg.cn/jeewxmb/webpage/extend/productList.html"></a>
            <img src="start-img/back6-click.png"/>
        </div>
      </div>
</div>
<script src="build/zepto.min.js"></script>
<script src="build/swiper.min.js"></script>
<script src="build/start.js"></script>
</body>
</html>