<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <title>最新动态</title>
    <link rel="stylesheet" href="sass/mobile-reset.css">
    <link rel="stylesheet" href="css/nav.css">
    <style type="text/css">
        footer > a{
            margin-top: 1%;
        }
        footer > a:nth-child(3) {
            margin-top: -0.5%;
        }
    </style>
</head>
<body>
    <img style="width:100%; margin-bottom: 15%;"src='images/webview.jpg'/>
<footer>
    <a href="http://zjc.mattburg.cn/jeewxmb/webpage/extend/webview.html">
        <img src="http://zjc.mattburg.cn/jeewxmb/webpage/extend/nav-img/img1-cur.png"/>
    </a>
    <a href="http://zjc.mattburg.cn/jeewxmb/webpage/extend/productList.html">
        <img src="http://zjc.mattburg.cn/jeewxmb/webpage/extend/nav-img/img2.png"/>
    </a>
    <a href="http://zjc.mattburg.cn/jeewxmb/productController.do?scanQRCode">
        <img src="http://zjc.mattburg.cn/jeewxmb/webpage/extend/nav-img/img3.png"/>
    </a>
    <a href="http://zjc.mattburg.cn/jeewxmb/productController.do?toOrder">
        <img src="http://zjc.mattburg.cn/jeewxmb/webpage/extend/nav-img/img5.png"/>
    </a>
    <a href="http://zjc.mattburg.cn/jeewxmb/productController.do?toCoupon">
        <img src="http://zjc.mattburg.cn/jeewxmb/webpage/extend/nav-img/img4.png"/>
    </a>
</footer>
</body>
</html>