.repair-list_prompt {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  .wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .4);
  }
  .content {
    position: absolute;
    z-index: 999;
    top: 25%;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    border-radius: 5px;
    overflow: hidden;
    ._item {
      font-size: 15px;
      padding: 0;
      color: black;
      .input-wrapper {
        margin-left: 16px;
        textarea {
          padding: 5px;
          background-color: #eeeeee;
          height: 100px;
        }
        input {
          border-bottom: 0.55px solid #c8c7cc;
          margin: 0;
          padding-bottom: 6px;
          margin-top: 6px;
        }
      }
    }
    .btn {
      display: flex;
      background-color: #fff;
      font-size: 16px;
      button:nth-child(1) {
        border-right: 1px solid #c8c7cc;
      }
      button {
        flex: 1;
        margin: 0;
        border-radius: 0;
        height: inherit;
        .button-inner {
          height: 40px;
        }
      }
    }
  }
}

.repair-list {
  background-color: #f6f6f6;
  ion-refresher {
    top: 90px !important;
  }
  .scroll-content {
    margin-top: 90px !important;
    padding-top: 15px;
    background-color: #f6f6f6;
  }
  .wrapper {
    margin-bottom: 0;
    .point {
      position: absolute;
      top: -13px;
      left: 12px;
      font-size: 13px;
      span {
        color: #2f82ce;
      }
    }
    ion-card:nth-child(1) {
      margin-top: 0;
    }
    .info {
      padding: 15px;
      display: block;
      overflow: hidden;
      font-size: 16px;
      border-bottom: 1px solid #cdcdcd;
      .text {
        margin-top: 0;
        color: #6d6b6b;
        float: right;
        max-width: 63%;
        overflow-x: auto;
      }
    }
    .img {
      ion-label {
        display: flex;
        .box {
          margin-left: 5px;
          width: 25%;
        }
      }
    }
    .btn {
      padding: 12px;
      padding-top: 30px;
    }
  }
  .no-data {
    margin-top: 0;
    text-align: center;
  }
}
