.repair {
  .wrapper {
    padding: 10px;
    padding-top: 15px;
    .list {
      ._item {
        margin-bottom: 20px;
        .title {
          overflow: hidden;
          line-height: 15px;
          font-size: 15px;
          span {
            float: left;
            margin-left: 9px;
          }
          img {
            float: left;
            width: 15px;
          }
        }
        ion-item {
          border: none;
          .input-wrapper {
            border-bottom: 1px solid #ededed;
            font-size: 16px;
            input {
              margin-bottom: 0;
            }
            ion-select {
              padding-left: 0;
              padding-bottom: 0;
              max-width: 100%;
              width: 100%;
            }
          }
        }
      }
      .time {
        .content {
          display: flex;
          position: relative;
          .left {
            position: absolute;
            right: 50%;
            margin-right: 6%;
            top: 23px;
            z-index: 9;
          }
          .right {
            position: absolute;
            right: 0;
            top: 23px;
            z-index: 9;
            margin-right: 6%;
          }
          ion-datetime {
            padding-bottom: 0;
            margin-bottom: -8px;
            padding-left: 0;
          }
        }
      }
      .btn {
        margin-top: 40px;
      }
    }
  }
}
