<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
	<title>最新动态</title>
    <link rel="stylesheet" href="css/webview.css">
    <script src="build/rem.js"></script>
</head>
<body>
    <article>
        <section>
            <i>4/25</i>
            <i></i>
            <p>美照征集活动，又双叒叕来了！</p>
            <a href="http://mp.weixin.qq.com/s/Lq72beFGmV6uO-JcLmueuA">
                <img src="http://api.mattburg.cn/static/appHuodongPic/17.jpg"/>
            </a>
            <a href="http://mp.weixin.qq.com/s/Lq72beFGmV6uO-JcLmueuA">
                <img src="http://org.oa.mattburg.cn/app/images/icon.png"/ alt=""/>
                <span>查看详情</span>
            </a>
        </section>
        <section>
            <i>4/18</i>
            <i></i>
            <p>地球日专题：我和地球有个约定</p>
            <a href="https://mp.weixin.qq.com/s/sRm5NqkXpbDnI1p15UzIyw">
                <img src="http://api.mattburg.cn/static/appHuodongPic/16.jpg"/>
            </a>
            <a href="https://mp.weixin.qq.com/s/sRm5NqkXpbDnI1p15UzIyw">
                <img src="http://org.oa.mattburg.cn/app/images/icon.png"/ alt=""/>
                <span>查看详情</span>
            </a>
        </section>
        <section>
            <i>4/11</i>
            <i></i>
            <p>看了这么多网红，我更喜欢这个四国混血儿！</p>
            <a href="http://mp.weixin.qq.com/s/-Bv9uhT8RokaWbJd_Xq0mw">
                <img src="http://api.mattburg.cn/static/appHuodongPic/15.jpg"/>
            </a>
            <a href="http://mp.weixin.qq.com/s/-Bv9uhT8RokaWbJd_Xq0mw">
                <img src="http://org.oa.mattburg.cn/app/images/icon.png"/ alt=""/>
                <span>查看详情</span>
            </a>
        </section>
        <section>
            <i>4/06</i>
            <i></i>
            <p>我套路起来，连自己都怕。。</p>
            <a href="http://mp.weixin.qq.com/s/OwkZ3weJsDhph1kl3tSY0Q">
                <img src="http://api.mattburg.cn/static/appHuodongPic/14.jpg"/>
            </a>
            <a href="http://mp.weixin.qq.com/s/OwkZ3weJsDhph1kl3tSY0Q">
                <img src="http://org.oa.mattburg.cn/app/images/icon.png"/ alt=""/>
                <span>查看详情</span>
            </a>
        </section>
        <section>
            <i>3/31</i>
            <i></i>
            <p>这杯咖啡背后，有你想知道的故事</p>
            <a href="http://mp.weixin.qq.com/s/NFphMgkb6ct3UYaK5P4ubA">
                <img src="http://api.mattburg.cn/static/appHuodongPic/13.jpg"/>
            </a>
            <a href="http://mp.weixin.qq.com/s/NFphMgkb6ct3UYaK5P4ubA">
                <img src="http://org.oa.mattburg.cn/app/images/icon.png"/ alt=""/>
                <span>查看详情</span>
            </a>
        </section>
        <section>
            <i>3/21</i>
            <i></i>
            <p>这杯咖啡背后，有你想知道的故事</p>
            <a href="http://mp.weixin.qq.com/s/34PamwxEq4ly-vaD7HaRTg">
                <img src="http://api.mattburg.cn/static/appHuodongPic/12.jpg"/>
            </a>
            <a href="http://mp.weixin.qq.com/s/34PamwxEq4ly-vaD7HaRTg">
                <img src="http://org.oa.mattburg.cn/app/images/icon.png"/ alt=""/>
                <span>查看详情</span>
            </a>
        </section>
        <section>
            <i>3/14</i>
            <i></i>
            <p>这杯咖啡背后，有你想知道的故事</p>
            <a href="http://mp.weixin.qq.com/s/4YxgFtDtskHYLwhYhJ53rw">
                <img src="http://api.mattburg.cn/static/appHuodongPic/11.jpg"/>
            </a>
            <a href="http://mp.weixin.qq.com/s/4YxgFtDtskHYLwhYhJ53rw">
                <img src="http://org.oa.mattburg.cn/app/images/icon.png"/ alt=""/>
                <span>查看详情</span>
            </a>
        </section>
    </article>
    <footer>
        <a href="http://org.oa.mattburg.cn/jeewxmb/webpage/extend/webview.html">
            <img src="http://org.oa.mattburg.cn/jeewxmb/webpage/extend/nav-img/img1-cur.png"/>
        </a>
        <a href="http://org.oa.mattburg.cn/jeewxmb/webpage/extend/productList.html">
            <img src="http://org.oa.mattburg.cn/jeewxmb/webpage/extend/nav-img/img2.png"/>
        </a>
        <a href="http://org.oa.mattburg.cn/jeewxmb/productController.do?scanQRCode">
            <img src="http://org.oa.mattburg.cn/jeewxmb/webpage/extend/nav-img/img3.png"/>
        </a>
        <a href="http://org.oa.mattburg.cn/jeewxmb/productController.do?toOrder">
            <img src="http://org.oa.mattburg.cn/jeewxmb/webpage/extend/nav-img/img5.png"/>
        </a>
        <a href="http://org.oa.mattburg.cn/jeewxmb/productController.do?toCoupon">
            <img src="http://org.oa.mattburg.cn/jeewxmb/webpage/extend/nav-img/img4.png"/>
        </a>
    </footer>
</body>
</html>