.about-content {
  display: none;
  width: 90%;
  background-color: #b5cb6b;
  padding: 5% 5% 10% 5%; }
  .about-content img {
    width: 100%; }
  .about-content .text1 {
    width: 32%; }
  .about-content p {
    margin-top: 6%;
    text-align: justify;
    text-indent: 0.4rem;
    font-size: 0.2rem;
    word-break: break-word;
    color: #fff; }
  .about-content .text2 {
    width: 32%;
    margin-top: 10%; }

.about-ani img, .about-ani p {
  -webkit-animation: zoomIn 1s;
          animation: zoomIn 1s; }

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }
