<ion-header>
  <ion-navbar>
    <ion-title>机器状态列表</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="index-error">
  <div class="wrapper">
    <ion-refresher class="refresher" (ionRefresh)="doRefresh($event)" pullMax="100">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <p class="text"><span>{{list.length}}</span>台机器不在运营状态！请及时查看</p>
    <button ion-item class="select">
      <ion-label>城市选择</ion-label>
      <ion-select [(ngModel)]="checkedCity" multiple="true" okText="好的" cancelText="取消"
                  (ionChange)="selectBtn()">
        <ion-option *ngFor="let item of selectCity">{{item}}</ion-option>
      </ion-select>
    </button>
    <ion-list class="error-list">
      <ion-item *ngFor="let item of list">
        <span class="name">{{item.machineName}}</span>
        <div>
          <span class="city" *ngIf="item.city">({{item.city}})</span>
          <span class="number">编号:{{item.id}}</span>
        </div>
        <span class="status">{{item.status}}</span>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
