// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary: #2f82ce,
  secondary: #32db64,
  danger: #f53d3d,
  light: #f4f4f4,
  dark: #222
);

// App iOS Variables
// --------------------------------------------------
.ios {
  .content-ios:not([no-bounce]) > .scroll-content::before {
    bottom: 0;
  }
  .toolbar {
    .button-inner {
      .back-button-text {
        display: none;
      }
    }
  }
  .searchbar-search-icon {
    top: 13px;
  }
  .searchbar {
    background: none;
    border-bottom: none;
    padding: 8px 12px;
    .searchbar-input-container {
      box-shadow: 0 1px 7px rgba(0, 0, 0, 0.3);
      .searchbar-clear-icon {
        background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><polygon fill='%235b5b5b' points='405,136.798 375.202,107 256,226.202 136.798,107 107,136.798 226.202,256 107,375.202 136.798,405 256,285.798 375.202,405 405,375.202 285.798,256'/></svg>");
      }
    }
  }
  .text-input-clear-icon {
    background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><polygon fill='%235b5b5b' points='405,136.798 375.202,107 256,226.202 136.798,107 107,136.798 226.202,256 107,375.202 136.798,405 256,285.798 375.202,405 405,375.202 285.798,256'/></svg>") !important;
  }
  ion-header {
    ._add {
      position: absolute;
      right: 2px;
      font-size: 30px;
      top: 4px;
      height: 33px;
      padding: 0 11px;
      ion-icon {
        font-weight: 600;
      }
    }
  }
}

// App Material Design Variables
// --------------------------------------------------
.md {
  .input-has-focus {
    box-shadow: none !important;
    .item-inner {
      box-shadow: none !important;
      border-bottom-color: #dedede !important;
    }
  }
  .alert-button-group {
    .alert-button {
      width: 50% !important;
    }
  }
  .back-button {
    color: #2f82ce;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translate(0, -50%);
    left: 0;
  }
  .tab-button-icon {
    font-size: 3rem !important;
  }
  .tab-button-text {
    margin: 0 !important;
  }
  .input-has-value {
    .item-inner {
      box-shadow: none !important;
      border-bottom-color: #dedede !important;
    }
  }
  .alert-head {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    .alert-title {
      margin-bottom: 15px;
      font-weight: 600;
      font-size: 1.8rem;
    }
    .alert-button {
      width: 100%;
    }
  }
  .alert-button-group {
    padding: 8px;
    .alert-button {
      margin: 0;
      width: 100%;
      .button-inner {
        justify-content: center;
      }
    }
  }
  button {
    .item-inner {
      background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 20'><path d='M2,-2l-2-2l8-8L0,2l2-2l10,10L2,20z' fill='%23c8c7cc'/></svg>");
      padding-right: 32px !important;
      background-repeat: no-repeat;
      background-position: right 14px center;
      background-size: 14px 14px;
    }
  }
  .count-machine-list {
    padding-top: 276px !important;
  }
  .tabbar {
    .tab-button {
      min-height: 52px;
    }
  }
  .searchbar {
    padding: 8px 12px;
  }
  ion-header {
    ._add {
      position: absolute;
      right: 0;
      font-size: 30px;
      top: -12px;
      padding: 0 11px;
      ion-icon {
        font-weight: 600;
      }
    }
    ion-navbar {
      min-height: 45px;
    }
  }
}

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";

// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
